name: Release

on:
  push:
  workflow_dispatch:

env:
  YC_CONTAINER_REGISTRY: crpv2r10hb8nfdu036ra
  YC_FOLDER_ID: b1g334up5rkb8rndusqb
  YC_SA_ID: ajefdd60ehm2jkkei8to
  YC_SUBNET_ID: fl8amft6eg8nttnofpt4
  YC_SEC_GROUP_IDS: enp4tnnrb6qibitllph4
  VERSION: 1.0.${{ github.run_number }}

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Login to Yandex Cloud Container Registry
        id: login-cr
        uses: yc-actions/yc-cr-login@v1
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_CREDENTIALS }}

      - name: Build and push image
        run: |
          docker build -t cr.yandex/$YC_CONTAINER_REGISTRY/id-backend:$VERSION .
          docker push cr.yandex/$YC_CONTAINER_REGISTRY/id-backend:$VERSION

      - name: Deploy COI VM
        id: deploy-coi
        uses: brvjeo/yc-coi-deploy@v3.0.4
        env:
          YC_SSH_LOGIN: ${{ secrets.YC_SSH_LOGIN }}
          YC_SSH_PUBLIC_KEY: ${{ secrets.YC_SSH_PUBLIC_KEY }}
          IMAGE: cr.yandex/${{ env.YC_CONTAINER_REGISTRY }}/id-backend:${{ env.VERSION }}
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          BASE_DOMAIN: ${{ secrets.BASE_DOMAIN }}
          ALLOWED_HOSTS: ${{ secrets.ALLOWED_HOSTS }}
          CSRF_TRUSTED_ORIGINS: ${{ secrets.CSRF_TRUSTED_ORIGINS }}
          CORS_ALLOWED_ORIGIN_REGEXES: ${{ secrets.CORS_ALLOWED_ORIGIN_REGEXES }}
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          DJANGO_SETTINGS_MODULE: ${{ secrets.DJANGO_SETTINGS_MODULE }}
          DEFENDER_REDIS_URL: ${{ secrets.DEFENDER_REDIS_URL }}
          REDIS_URL: ${{ secrets.REDIS_URL }}
          EMAIL_HOST_PASSWORD: ${{ secrets.EMAIL_HOST_PASSWORD }}
          EMAIL_HOST_USER: ${{ secrets.EMAIL_HOST_USER }}
          COMPOSE_PROJECT_NAME: ${{ secrets.COMPOSE_PROJECT_NAME }}
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_CREDENTIALS }}
          folder-id: ${{ env.YC_FOLDER_ID }}
          vm-name: id-backend
          vm-service-account-id: ${{ env.YC_SA_ID }}
          vm-cores: 2
          vm-memory: 2GB
          vm-disk-size: 15GB
          vm-core-fraction: 50
          vm-zone-id: ru-central1-d
          vm-subnet-id: ${{ env.YC_SUBNET_ID }}
          vm-use-nat: false
          vm-security-group-ids: ${{ env.YC_SEC_GROUP_IDS }}
          docker-compose-path: "./docker-compose.yml"
          user-data-path: "./user-data.yaml"

      - name: Create Git Tag
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git tag -a "v${{ env.VERSION }}" -m "Release v${{ env.VERSION }}"
          git push origin "v${{ env.VERSION }}"

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          name: v${{ env.VERSION }}
          draft: false
          prerelease: false
